
<!-- /schedule/:id -->

<!-- компонент для управления расписанием -->

<!-- разметка компонента ScheduleComponent -->
<main class="row bg-main-color content-height mx-auto p-0 w-lg-95
             justify-content-center align-items-lg-stretch"
      [class.align-items-start]="!component.isWaitFlag">

  <div class="col-12 m-0 p-0 row justify-content-center align-items-stretch">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    @if (component.isWaitFlag && displayWorkDaysBreakSlots.length === zero) {

      <!-- загрузочный спиннер -->
      <div class="col-12 m-0 p-1 px-sm-2 py-sm-3 d-flex flex-column">
        <div class="d-flex justify-content-center align-items-end text-aside-color h-50">
          <span class="spinner-border m-0 p-5 border-30px opacity-75 speed-600ms"></span>
        </div>
      </div>

    } @else {
      <!-- основные данные -->

      <!-- данные о сотруднике -->
      <div class="col-lg-3 col-xl-2 m-0 p-1 px-sm-2 pt-sm-3 bg-aside-color">
        <div class="row m-0 p-0 justify-content-evenly justify-content-lg-center">

          <!-- отображение данных о сотруднике -->
          <div class="col-12 m-0 mb-2 p-0 d-flex flex-column">

            <!-- фотография сотрудника -->
            <div class="m-0 p-1 d-flex justify-content-center align-items-center">
              <div class="m-0 p-0 w-auto">
                <img class="card-img m-0 p-1 h-max-250px-w-max-400px
                            bg-main-color border border-back-color"
                     src="{{employee.avatar}}"
                     alt="{{employee.fileName}}"
                     title="{{employee.specialization.name}} {{employee.user.userName}}">
              </div>
            </div>

            <!-- краткие данные о сотруднике -->
            <div class="m-0 p-0">
              <h4 class="text-center text-primary">
                {{employee.specialization.name}} <strong>{{employee.user.userName}}</strong>
              </h4>
            </div>

          </div>

        </div>
      </div>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

      <!-- данные о рабочих днях сотрудника -->
      <div class="col-lg-9 col-xl-10 m-0 p-1 px-sm-2 py-sm-3 d-flex flex-column">

        <!-- заголовок -->
        <h4 class="text-primary text-center" [innerHTML]="component.title"></h4>

        <!-- данные в табличном виде -->
        <div class="m-0 p-1 d-flex flex-column bg-aside-color
                    border border-2 border-back-color rounded">

          <!-- "шапка" таблицы -->
          <div class="m-0 p-1">
            <div class="m-0 p-0 d-flex align-items-center
                        border-2 border-bottom border-back-color">

              <!-- кнопка "предыдущая неделя" -->
              <div class="m-0 p-1 w-auto">
                <button class="btn m-0 p-0 active-border-color-transparent active-opacity-70"
                        type="button"
                        title="{{component.butPreviousWeekTitle}}"
                        (click)="getWeekDates(previous)">
                  <i class="fa fa-2x fa-chevron-circle-left text-back-color" aria-hidden="true"></i>
                </button>
              </div>

              <!-- заголовок -->
              <div class="m-0 p-1 w-100">
                <h4 class="m-0 text-back-color text-center" [innerHTML]="component.tableTitle"></h4>
              </div>

              <!-- кнопка "следующая неделя" -->
              <div class="m-0 p-1 w-auto">
                <button class="btn m-0 p-0 active-border-color-transparent active-opacity-70"
                        type="button"
                        title="{{component.butNextWeekTitle}}"
                        (click)="getWeekDates(next)">
                  <i class="fa fa-2x fa-chevron-circle-right text-back-color" aria-hidden="true"></i>
                </button>
              </div>

            </div>
          </div>

          <!-- данные о рабочих днях сотрудника -->
          @for (displayWorkDayBreakSlots of displayWorkDaysBreakSlots; track displayWorkDayBreakSlots.workDay.date; let i = $index) {

            <!-- компонент отображения данных о рабочем дне сотрудника со списком промежутков для перерыва -->
            <display-work-day-break-slots  class="m-0 p-1"
              [ngClass]="displayWorkDayBreakSlots.workDay.date.toLocaleDateString() === component.today.toLocaleDateString()
                         ? bgBackColor + ' ' + fwBold : empty"
              [isWaitFlag]="component.isWaitFlag"
              [displayWorkDayBreakSlots]="displayWorkDayBreakSlots"
              [labelWeekDayTitle]="labelWeekDayValue(title, component.language, displayWorkDayBreakSlots.workDay.date)"
              [labelWeekDayValue]="labelWeekDayValue(value, component.language, displayWorkDayBreakSlots.workDay.date)"
              [labelCheckboxWeekendTitle]="component.labelCheckboxWeekendTitle"
              [labelCheckboxWorkingDayTitle]="component.labelCheckboxWorkingDayTitle"
              [labelCheckboxWeekend]="component.labelCheckboxWeekend"
              [labelCheckboxWorkingDay]="component.labelCheckboxWorkingDay"
              [labelWorkDayStartTime]="component.labelWorkDayStartTime"
              [labelWorkDayEndTime]="component.labelWorkDayEndTime"
              [butAddBreakSlotTitle]="component.butAddBreakSlotTitle"
              [butRemoveBreakSlotTitle]="component.butRemoveBreakSlotTitle"
              [labelDuration]="component.labelDuration"
              [labelFrom]="component.labelFrom"
              [butEditWorkDayTitle]="component.butEditWorkDayTitle"
              (onSendDisplayWorkDayBreakSlots)="sendDisplayWorkDayBreakSlotsHandler($event)">
            </display-work-day-break-slots>

          } <!-- for -->

        </div>

      </div>

    } <!-- if -->

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  </div>

</main>
