
<!-- /query04 -->

<!-- компонент с отображением результатов запроса №4 -->

<!-- разметка компонента Query04Component -->
<main class="row bg-main-color content-height mx-auto p-0
             w-md-95 align-items-start align-items-lg-stretch">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <!-- условие задачи (Offcanvas-элемент), кнопки -->
  <div class="col-lg-3 col-xxl-2 p-1 p-lg-2 pt-lg-5 bg-aside-color">

    <div class="row m-0 p-0 justify-content-center">

      <!-- 1-я кнопка: условие задачи (Offcanvas-элемент) -->
      <task-button class="col-sm-11 col-md-6 col-lg-12 p-1"></task-button>

    </div>

  </div>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <!-- сгруппированные данные о поездках в табличном формате -->
  <div class="col-lg-9 col-xxl-10 p-1 p-lg-2 pt-lg-3">

    <!-- заголовок -->
    @if (isWaitFlag) {
      <div class="d-flex justify-content-center align-items-center text-primary">
        <h4 class="text-center">Соединение с сервером...</h4>
        <span class="spinner-border spinner-border-sm m-1 p-2"></span>
      </div>
    } @else {
      <h4 class="text-primary text-center" [innerHTML]="displayTitle"></h4>
    } <!-- if -->

    <!-- таблица для отображения сгруппированных сведений о поездках -->
    <div class="container-fluid mb-3 p-1 bg-primary-subtle
                border border-primary border-3 rounded w-md-95"
         *ngIf="displayGroups.length > 0">

      <!-- таблица "ПОЕЗДКИ" -->
      <div class="table-responsive p-1">
        <table class="table table-bordered border-primary
                      m-0 font-family-Tahoma table-hover">

          <!-- "шапка" таблицы -->
          <thead table-header-query04
                 class="table-success border-primary
                        border-2 text-center align-middle">
          </thead>

          <!-- "подвал" таблицы -->
          <tfoot class="table-secondary border-primary
                        border-2 text-start align-middle">
            <tr>
              <th class="px-2" colspan="3">
                Стоимость 1 дня пребывания проданных поездок:
              </th>
              <th class="px-2 text-end">{{minDayCost | number:"0.2-2"}}</th>
              <th class="px-2 text-end">{{avgDayCost | number:"0.2-2"}}</th>
              <th class="px-2 text-end">{{maxDayCost | number:"0.2-2"}}</th>
            </tr>
          </tfoot>

          <!-- "тело" таблицы для вывода результатов -->
          <tbody class="text-end align-middle border-2">
            @for (group of displayGroups; track group; let i = $index) {
              <tr tr-group-query04 id="group04-{{group.purpose}}"
                  class="border-primary border-2"
                  [row]="i + 1"
                  [group]="group"
              ></tr>
            } <!-- for -->
          </tbody>

        </table>
      </div>

    </div>

  </div>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
</main>
