<td class="text-center p-1">{{row}}</td>
<td class="text-center p-1">{{trip.id}}</td>
<td class="text-center p-1">{{trip.startDate | date: "dd.MM.yyyy"}}г.</td>
<td class="text-start p-1">{{trip.client.fullName}}</td>
<td class="text-start p-1">{{trip.client.passport}}</td>
<td class="text-start p-1">{{trip.route.country.name}}</td>
<td class="text-start p-1">{{trip.route.purpose.name}}</td>
<td class="p-1">{{trip.route.country.transportCost | number:"0.2-2"}}</td>
<td class="p-1">{{trip.route.country.visaCost | number:"0.2-2"}}</td>
<td class="p-1">{{trip.route.country.countryDayCost | number:"0.2-2"}}</td>
<td class="p-1">{{trip.route.purpose.purposeDayCost | number:"0.2-2"}}</td>
<td class="p-1">{{trip.route.totalDayCost | number:"0.2-2"}}</td>
<td class="p-1">{{trip.amountDays}}</td>
<td class="p-1">{{trip.tripCost | number:"0.2-2"}}</td>
<td class="p-1">{{trip.tax | number:"0.2-2"}}</td>
<td class="p-1">{{trip.fullTripCost | number:"0.2-2"}}</td>
<td class="text-center p-1">
  <div class="d-flex justify-content-evenly">

    <!-- кнопка: "изменить поездку" -->
    <button class="btn btn-outline-success mx-1 px-2 py-1"
            [class.disabled]="isWaitFlag"
            type="button" id="btnEditTrip"
            (click)="sendTripId('edit')"
            data-bs-toggle="modal"
            data-bs-target="#modalTripForm"
            title="Изменить запись о поездке">
      @if (isWaitFlag) {
        <span class="spinner-border spinner-border-sm m-0 p-0"></span>
      } @else {
        <i class="fa fa-edit"></i>
      } <!-- if -->
    </button>

    <!-- кнопка: "удалить поездку" -->
    <!-- отображение кнопки удаления управляется чек-боксом -->
    @if (isDeleteFlag) {
      <button class="btn btn-outline-danger mx-1 px-2 py-1"
              [class.disabled]="isWaitFlag"
              type="button" id="btnDeleteTrip"
              (click)="sendTripId('delete')"
              title="Удалить запись о поездке">
        @if (isWaitFlag) {
          <span class="spinner-border spinner-border-sm m-0 p-0"></span>
        } @else {
          <i class="fa fa-trash w-16px"></i>
        } <!-- if -->
      </button>
    } <!-- if -->

  </div>
</td>
