
<!-- /404 -->

<!-- компонент с разметкой страницы по непредусмотренному маршруту -->

<!-- разметка компонента NotFoundComponent -->
<main class="row bg-main-color content-height mx-auto p-0
             w-md-95 align-items-start align-items-lg-stretch">

  <div class="col-lg-3 col-xxl-2 p-1 p-lg-2 pt-lg-5 bg-aside-color">

  </div>

  <div class="col-lg-9 col-xxl-10 p-1 p-lg-2 pt-lg-3">

    <h4 class="bg-danger-subtle text-black my-5 mx-auto p-5 w-50">
      {{component.title}}
    </h4>

  </div>

</main>
