
<!-- /404 -->

<!-- компонент с разметкой страницы по непредусмотренному маршруту -->

<!-- разметка компонента NotFoundComponent -->
<main class="container bg-main-color content-main text-justify
             font-family-Calibri font-size-14pt content-height mx-auto">

  <div class="m-0 p-2 d-flex justify-content-center">

    <h4 class="text-back-color fw-bold m-0 px-5 py-3
               bg-danger-subtle border border-2 border-back-color rounded">
      {{component.title}}
    </h4>

  </div>

</main>
