
<!-- /about -->

<!-- компонент с разметкой страницы со сведениями о программе -->

<!-- разметка компонента AboutComponent -->
<main class="container bg-main-color content-main text-justify
             font-family-Calibri font-size-14pt content-height mx-auto">

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <h4 class="text-primary font-family-CalibriLight font-size-16pt fw-bold text-center">
    {{component.title}}
  </h4>
  <h5 class="text-secondary font-family-CalibriLight fw-bold">
    Тема:
  </h5>
  <h4 class="text-primary font-family-CalibriLight font-size-16pt fw-bold">
    CRM-система для салонов красоты
  </h4>
  <hr />

  <h5 class="text-secondary font-family-CalibriLight fw-bold">
    Название проекта:
  </h5>
  <h4 class="text-primary font-family-CalibriLight font-size-16pt fw-bold">
    &laquo;Платформа Красоты&raquo;
  </h4>
  <hr />

  <p>
    <strong>CRM-система (<i>Customer Relationship Management</i>)</strong> —
    это программа для автоматизации и контроля взаимодействия компании с
    клиентами. Она хранит и структурирует информацию о заказах и покупателях,
    помогает оптимизировать маркетинг, повысить продажи и качество обслуживания.
  </p>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</main>
