
<!-- модальный компонент подтверждения/НЕ_подтверждения действия -->

<div class="modal-dialog modal-dialog-centered">

  <div class="modal-content bg-main-color p-2 border border-2 border-primary">

    <div class="modal-body text-primary p-2">
      <h4 class="text-center fw-bold">
        @if (isDeletingFlag) {
          <i class="fa fa-exclamation-triangle"></i>
        } <!-- if -->
        &nbsp;{{title}}
      </h4><br>
      <h6 class="p-0" [innerHTML]="messageConfirmation"></h6>
    </div>

    <div class="modal-footer bg-primary-subtle justify-content-evenly p-2">

      <button class="btn bg-danger-subtle fw-bold text-danger
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-danger border-2 border-opacity-50"
              type="button" id="btnConfirmedOk"
              (click)="sendIsConfirmed(true)"
              data-bs-dismiss="modal"
              title="{{butConfirmedOkTitle}}">
        @if (isDeletingFlag) {
          <i class="fa fa-check-circle"></i>
        } <!-- if -->
        {{butConfirmedOkValue}}
      </button>

      <button class="btn bg-success-subtle fw-bold text-success
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-success border-2 border-opacity-50"
              type="button" id="btnConfirmedCancel"
              (click)="sendIsConfirmed(false)"
              data-bs-dismiss="modal"
              title="{{butConfirmedCancelTitle}}">
        @if (isDeletingFlag) {
          <i class="fa fa-times-circle"></i>
        } <!-- if --> <!-- <i class="fa fa-times-circle" aria-hidden="true"></i> -->
        {{butConfirmedCancelValue}}
      </button>

    </div>

  </div>

</div>
