
<!-- модальный компонент подтверждения/НЕ_подтверждения действия -->

<div class="modal-dialog modal-dialog-centered">

  <div class="modal-content bg-main-color p-2 border border-2 border-primary">

    <div class="modal-body text-primary p-2">
      <h4 class="text-center fw-bold">
        @if (isDeletingFlag) {
          <i class="fa fa-exclamation-triangle"></i>
        } <!-- if -->
        &nbsp;{{title}}
      </h4><br>
      <h6 class="p-0" [innerHTML]="messageConfirmation"></h6>
    </div>

    <div class="modal-footer bg-primary-subtle justify-content-evenly p-2">

      <button class="btn bg-danger-subtle fw-bold text-danger
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-danger border-2 border-opacity-50"
              type="button" id="btnConfirmedOk"
              (click)="sendIsConfirmed(true)"
              data-bs-dismiss="modal"
              title="{{butConfirmedOkTitle}}">
        @if (isDeletingFlag) {
          <i class="fa fa-check-circle"></i>
        } <!-- if -->
        {{butConfirmedOkValue}}
      </button>

      <button class="btn bg-success-subtle fw-bold text-success
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-success border-2 border-opacity-50"
              type="button" id="btnConfirmedCancel"
              (click)="sendIsConfirmed(false)"
              data-bs-dismiss="modal"
              title="{{butConfirmedCancelTitle}}">
        @if (isDeletingFlag) {
          <i class="fa fa-times-circle"></i>
        } <!-- if --> <!-- <i class="fa fa-times-circle" aria-hidden="true"></i> -->
        {{butConfirmedCancelValue}}
      </button>

    </div>

  </div>

  <!-- форма выбора параметра запроса №1 -->
  <!--<form class="modal-content bg-light p-2"
        #query01Form="ngForm" novalidate>

    &lt;!&ndash; заголовок &ndash;&gt;
    <div class="modal-header bg-primary p-2">

      <div class="w-100 p-2">
        <h4 class="modal-title text-center text-light"
            id="id-query01FormTitle">
          Запрос №1 - Выбрать информацию о маршрутах с заданной целью поездки
        </h4>
      </div>

      <button class="btn-close bg-plum m-1 p-2 opacity-100
                     hover-bg-paleturquoise border border-3
                     border-black w-12px h-8px"
              type="button"
              data-bs-dismiss="modal"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              data-bs-placement="bottom"
              title="Закрыть...">
      </button>
    </div>

    &lt;!&ndash; тело - основные параметры формы &ndash;&gt;
    <div class="modal-body p-0">

      <div class="row mx-0 my-1 p-0 px-sm-0 py-sm-2 bg-primary-subtle
                  border border-primary justify-content-center">

        &lt;!&ndash; список всех целей поездки &ndash;&gt;
        <div class="row m-0 p-2 justify-content-center align-items-center">
          <label class="form-label col-lg-4 m-0 px-2" for="id-purposesQuery01">
            Выбор цели поездки:
          </label>
          <div class="col-lg-8 p-0">
            <select class="form-select px-2" id="id-purposesQuery01" required
                    name="purposesQuery01" [(ngModel)]="purposeId">
              <option value="0" selected disabled>Выберите цель поездки...</option>
              @for (purpose of purposes; track purpose.id) {
                <option [value]="purpose.id">{{purpose.name}}</option>
              }
            </select>
          </div>
        </div>

      </div>

    </div>

    &lt;!&ndash; подвал - кнопки ввода/сброса &ndash;&gt;
    <div class="modal-footer bg-primary justify-content-evenly p-0">

      <button class="btn bg-success-subtle fw-bold text-success
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-success border-2 border-opacity-50"
              type="button" id="btnQuery01Submit"
              [class.disabled]="isWaitFlag"
              (click)="sendQuery01Params(query01Form)"
              data-bs-dismiss="modal"
              title="Отправить запрос на сервер">
        @if (isWaitFlag) {
          <span class="spinner-border spinner-border-sm m-0 p-0"></span>
        } @else {
          Отправить
        } &lt;!&ndash; if &ndash;&gt;
      </button>

      <button class="btn bg-danger-subtle fw-bold text-danger
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-danger border-2 border-opacity-50"
              type="reset" id="btnQuery01Reset"
              [class.disabled]="isWaitFlag"
              title="Сброс выбора">
        @if (isWaitFlag) {
          <span class="spinner-border spinner-border-sm m-0 p-0"></span>
        } @else {
          Сброс
        } &lt;!&ndash; if &ndash;&gt;
      </button>
    </div>

  </form>-->

</div>
