<td class="text-center px-2">{{row}}</td>
<td class="text-center px-2">{{client.id}}</td>
<td class="text-start px-2">{{client.surname}}</td>
<td class="text-start px-2">{{client.name}}</td>
<td class="text-start px-2">{{client.patronymic}}</td>
<td class="text-start px-2">{{client.passport}}</td>
@if (!isQueryFlag) {
  <td class="text-center p-1">
    <div class="d-flex justify-content-evenly">

      <!-- кнопка: "изменить данные о клиенте" -->
      <button class="btn btn-outline-success mx-1 px-2 py-1"
              [class.disabled]="isWaitFlag"
              type="button" id="btnEditClient"
              (click)="sendClientId('edit')"
              data-bs-toggle="modal"
              data-bs-target="#modalClientForm"
              title="Изменить запись о клиенте">
        @if (isWaitFlag) {
          <span class="spinner-border spinner-border-sm m-0 p-0"></span>
        } @else {
          <i class="fa fa-edit"></i>
        } <!-- if -->
      </button>

      <!-- кнопка: "удалить данные о клиенте" -->
      <!-- отображение кнопки удаления управляется чек-боксом -->
      @if (isDeleteFlag) {
        <button class="btn btn-outline-danger mx-1 px-2 py-1"
                [class.disabled]="isWaitFlag"
                type="button" id="btnDeleteClient"
                (click)="sendClientId('delete')"
                title="Удалить запись о клиенте">
          @if (isWaitFlag) {
            <span class="spinner-border spinner-border-sm m-0 p-0"></span>
          } @else {
            <i class="fa fa-trash w-16px"></i>
          } <!-- if -->
        </button>
      } <!-- if -->

    </div>
  </td>
} <!-- if -->
