<td class="text-center px-2">{{row}}</td>
<td class="text-center px-2">{{route.id}}</td>
<td class="text-start px-2">{{route.country.name}}</td>
<td class="text-start px-2">{{route.purpose.name}}</td>
<td class="px-2">{{route.country.transportCost | number:"0.2-2"}}</td>
<td class="px-2">{{route.country.visaCost | number:"0.2-2"}}</td>
<td class="px-2">{{route.country.countryDayCost | number:"0.2-2"}}</td>
<td class="px-2">{{route.purpose.purposeDayCost | number:"0.2-2"}}</td>
<td class="px-2 fw-bold">{{route.totalDayCost | number:"0.2-2"}}</td>
