
<!-- /home -->

<!-- компонент с разметкой домашней страницы -->

<!-- разметка компонента HomeComponent -->
<main class="container bg-main-color content-main text-justify
             font-family-Calibri font-size-14pt content-height mx-auto">

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <h4 class="text-primary font-family-CalibriLight font-size-16pt fw-bold">
    {{component.title}}
  </h4>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</main>
