
<!-- /employees-services/:id -->

<!-- компонент с отображением коллекции услуг заданного сотрудника -->

<!-- разметка компонента EmployeesServicesComponent -->
<main class="row bg-main-color content-height mx-auto p-0 w-lg-95
             justify-content-center align-items-lg-stretch"
      [class.align-items-start]="!component.isWaitFlag">

  <div class="col-12 m-0 p-0 row justify-content-center align-items-stretch">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    @if (component.isWaitFlag && companyServices.length === zero) {

      <!-- загрузочный спиннер -->
      <div class="col-12 m-0 p-1 px-sm-2 py-sm-3 d-flex flex-column">
        <div class="d-flex justify-content-center align-items-end text-aside-color h-50">
          <span class="spinner-border m-0 p-5 border-30px opacity-75 speed-600ms"></span>
        </div>
      </div>

    } @else {
      <!-- основные данные -->

      <!-- данные о сотруднике -->
      <div class="col-lg-3 col-xl-2 m-0 p-1 px-sm-2 pt-sm-3 bg-aside-color">
        <div class="row m-0 p-0 justify-content-evenly justify-content-lg-center">

          <!-- отображение данных о сотруднике -->
          <div class="col-12 m-0 mb-2 p-0 d-flex flex-column">

            <!-- фотография сотрудника -->
            <div class="m-0 p-1 d-flex justify-content-center align-items-center">
              <div class="m-0 p-0 w-auto">
                <img class="card-img m-0 p-1 h-max-250px-w-max-400px
                          bg-main-color border border-back-color"
                     src="{{employee.avatar}}"
                     alt="{{employee.fileName}}"
                     title="{{employee.specialization.name}} {{employee.user.userName}}">
              </div>
            </div>

            <!-- краткие данные о сотруднике -->
            <div class="m-0 p-0">
              <h4 class="text-center text-primary">
                {{employee.specialization.name}} <strong>{{employee.user.userName}}</strong>
              </h4>
            </div>

          </div>

        </div>
      </div>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

      <!-- данные о категориях услуг и услугах салона с отмеченными услугами сотрудника -->
      <div class="col-lg-9 col-xl-10 m-0 p-1 px-sm-2 py-sm-3 d-flex flex-column align-items-center">

        <!-- заголовок -->
        <h4 class="text-primary text-center" [innerHTML]="component.title"></h4>

        <!-- данные о категориях услуг и услугах салона и сотрудника -->
        @if (displayServicesCategories.length > zero) {

          <div class="bg-aside-color border border-2 border-back-color m-0 mb-2 p-1
                      d-flex flex-column w-md-75">

            <!-- кнопка "открыть/закрыть все вкладки" -->
            <div class="m-0 p-0 ps-1 d-flex align-items-center">
              <button class="btn btn-sm m-0 px-2 py-0 text-main-color back-color-hover
                             bg-back-color border border-2 border-back-color"
                      type="button"
                      title="{{component.isShowFlag
                               ? component.butCloseAllServicesTitle
                               : component.butShowAllServicesTitle}}"
                      (click)="component.isShowFlag = !component.isShowFlag">
                @if (component.isShowFlag) {
                  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                } @else {
                  <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                } <!-- if -->
              </button>
            </div>

            <!-- сведения о категориях услуг и услугах салона -->
            @for (displayServicesCategory of displayServicesCategories; track displayServicesCategory.servicesCategory.id; let i = $index) {

              <!-- компонент отображения категории услуги со списком услуг -->
              <display-services-category class="m-0 p-1"
                [isCheckingFlag]="true"
                [isWaitFlag]="component.isWaitFlag"
                [isShowFlag]="component.isShowFlag"
                [collapseServicesCategoryNameTitleStart]="component.collapseServicesCategoryNameTitleStart"
                [labelIsSelectedServiceTitleStart]="component.labelIsSelectedServiceTitleStart"
                [labelPriceTitle]="component.labelPriceTitle"
                [labelPriceValue]="component.labelPriceValue"
                [labelMinPriceTitle]="component.labelMinPriceTitle"
                [labelMinPriceValue]="component.labelMinPriceValue"
                [labelMaxPriceTitle]="component.labelMaxPriceTitle"
                [labelMaxPriceValue]="component.labelMaxPriceValue"
                [labelDurationTitle]="component.labelDurationTitle"
                [labelDurationValue]="component.labelDurationValue"
                [butSenderServicesCategoryIdTitle]="empty"
                [butSenderServiceIdModeEditTitle]="empty"
                [butSenderServiceIdModeDeleteTitle]="empty"
                [displayServicesCategory]="displayServicesCategory"
                [selectedServicesIds]="selectedServicesIds"
                (onSendSelectedServiceId)="sendSelectedServiceIdHandler($event)">
              </display-services-category>

            } <!-- for -->

          </div>

        } <!-- if -->

      </div>

    } <!-- if -->

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  </div>

</main>
