
<!-- /password-form/:id -->

<!-- компонент с формой изменения пароля пользователя -->

<!-- разметка компонента PasswordFormComponent -->
<main class="row bg-main-color content-height mx-auto p-1 p-sm-2
             w-md-95 justify-content-center align-items-start">

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-5 m-0 my-sm-2 p-0">

    <!-- форма изменения пароля пользователя -->
    <form class="form-control p-2" novalidate
          [formGroup]="passwordForm"
          (ngSubmit)="onSubmit()">

      <!-- заголовок -->
      <div class="bg-primary p-1">
        <h2 class="text-center text-light m-0">{{component.title}}</h2>
      </div>

      <!-- тело - основные параметры формы -->
      <div class="row mx-0 my-1 p-2 bg-primary-subtle
                  border border-primary justify-content-center">

        <!-- ввод старого пароля пользователя -->
        <div class="row m-0 mt-1 p-0 justify-content-center align-items-center">
          <label class="form-label col-sm-4 col-md-3 m-0 px-2" for="oldPassword">
            {{component.labelOldPassword}}:
          </label>
          <div class="col-sm-8 col-md-7 col-lg-6 p-0">
            <input class="form-control px-2"
                   type="{{ isDisplayPassword.value
                         ? component.passwordInputTypes.text
                         : component.passwordInputTypes.password }}"
                   id="oldPassword" name="oldPassword" formControlName="oldPassword"
                   placeholder="{{component.passwordPlaceholder}}"
                   maxlength="{{component.passwordMaxLength + 1}}">
          </div>
        </div>
        <!-- строка с подсказками -->
        <div class="row m-0 mb-1 p-0 font-size-9pt h-auto
                    justify-content-center align-items-start">

          <div class="col-sm-8 col-md-7 col-lg-6 offset-sm-4 offset-md-3 p-0">

            @if (oldPassword.errors && (oldPassword.dirty || oldPassword['touched'])) {
              <div class="text-danger ps-2 fw-bold">
                <span *ngIf="oldPassword.errors[component.errorRequired]">
                  {{component.errorRequiredTitle}}
                </span>
                <!--<span *ngIf="password.errors[component.errorMinLength] ||
                             password.errors[component.errorMaxLength]">
                  {{component.errorPasswordMinMaxLengthTitle}}
                </span>-->
                <span *ngIf="oldPassword.errors[component.errorPasswordValidator] &&
                             !oldPassword.errors[component.errorRequired]">
                  {{component.errorPasswordValidatorTitle}}
                </span>
              </div>
            } @else {
              <span class="text-secondary ps-2 fw-bold"></span>
            } <!-- if -->

          </div>

        </div>

        <!-- ввод нового пароля пользователя -->
        <div class="row m-0 mt-1 p-0 justify-content-center align-items-center">
          <label class="form-label col-sm-4 col-md-3 m-0 px-2" for="newPassword">
            {{component.labelNewPassword}}:
          </label>
          <div class="col-sm-8 col-md-7 col-lg-6 p-0">
            <input class="form-control px-2"
                   type="{{ isDisplayPassword.value
                         ? component.passwordInputTypes.text
                         : component.passwordInputTypes.password }}"
                   id="newPassword" name="newPassword" formControlName="newPassword"
                   placeholder="{{component.passwordPlaceholder}}"
                   maxlength="{{component.passwordMaxLength + 1}}">
          </div>
        </div>
        <!-- строка с подсказками -->
        <div class="row m-0 mb-1 p-0 font-size-9pt h-auto
                    justify-content-center align-items-start">

          <div class="col-sm-8 col-md-7 col-lg-6 offset-sm-4 offset-md-3 p-0">

            @if (newPassword.errors && (newPassword.dirty || newPassword['touched'])) {
              <div class="text-danger ps-2 fw-bold">
                <span *ngIf="newPassword.errors[component.errorRequired]">
                  {{component.errorRequiredTitle}}
                </span>
                <span *ngIf="newPassword.errors[component.errorMinLength] ||
                             newPassword.errors[component.errorMaxLength]">
                  {{component.errorPasswordMinMaxLengthTitle}}
                </span>
              </div>
            } @else {
              <span class="text-secondary ps-2 fw-bold"></span>
            } <!-- if -->

          </div>

        </div>

        <!-- ввод подтверждения нового пароля пользователя -->
        <div class="row m-0 mt-1 p-0 justify-content-center align-items-center">
          <label class="form-label col-sm-4 col-md-3 m-0 px-2" for="newPasswordConfirmation">
            {{component.labelNewPasswordConfirmation}}:
          </label>
          <div class="col-sm-8 col-md-7 col-lg-6 p-0">
            <input class="form-control px-2"
                   type="{{ isDisplayPassword.value
                         ? component.passwordInputTypes.text
                         : component.passwordInputTypes.password }}"
                   id="newPasswordConfirmation" name="newPasswordConfirmation"
                   formControlName="newPasswordConfirmation"
                   placeholder="{{component.passwordPlaceholder}}"
                   maxlength="{{component.passwordMaxLength + 1}}">
          </div>
        </div>
        <!-- строка с подсказками -->
        <div class="row m-0 mb-1 p-0 font-size-9pt h-auto
                    justify-content-center align-items-start">

          <div class="col-sm-8 col-md-7 col-lg-6 offset-sm-4 offset-md-3 p-0">

            <!-- проверяем errors на форме! -->
            @if (passwordForm.errors && (newPasswordConfirmation.dirty || newPasswordConfirmation['touched'])) {
              <div class="text-danger ps-2 fw-bold">
                <span *ngIf="newPasswordConfirmation.errors &&
                             newPasswordConfirmation.errors[component.errorRequired]">
                  {{component.errorRequiredTitle}}
                </span>
                <span *ngIf="passwordForm.errors[component.errorMatchValidator] &&
                             !newPasswordConfirmation.errors">
                  {{component.errorMatchValidatorTitle}}
                </span>
              </div>
            } @else {
              <span class="text-secondary ps-2 fw-bold"></span>
            } <!-- if -->

          </div>

          <!-- чек-бокс переключения видимости пароля -->
          <div class="col-sm-8 col-md-7 col-lg-6 offset-sm-4 offset-md-3 p-0">

            <label class="form-check-label" for="isDisplayPassword">
              <input class="form-check-input m-1"
                     id="isDisplayPassword"
                     formControlName="isDisplayPassword"
                     type="checkbox" />
              {{component.labelCheckboxPassword}}
            </label>

          </div>

        </div>

      </div>

      <!-- подвал - кнопки ввода/сброса -->
      <div class="bg-primary d-flex justify-content-evenly p-0">

        <button class="btn bg-success-subtle fw-bold text-success
                       text-opacity-75 w-50 w-min-140-max-160 m-1
                       border border-success border-2 border-opacity-50"
                type="submit"
                [class.disabled]="passwordForm.invalid || component.isWaitFlag"
                title="{{component.butPasswordEditTitle}}">
          @if (component.isWaitFlag) {
            <div class="row m-0 p-0 justify-content-center align-items-center">
              <span class="col-1 spinner-border spinner-border-sm mx-2 my-1 p-1"></span>
            </div>
          } @else {
            {{component.butPasswordEditValue}}
          } <!-- if -->
        </button>

      </div>

    </form>

  </div>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</main>
