
/* собственные стили: v.28.03.25 */

/* область объявления глобальных переменных CSS */
:root {
    /* высота заголовка страницы */
    --header-height: 56px;

    /* высота навигационной панели */
    --nav-height: 58px;

    /* высота подвала страницы */
    --footer-height: 144px;

    /* базовый цвет фона заголовка и подвала */
    --back-color: darkmagenta;

    /* фон главной области страницы */
    --main-color: whitesmoke;

    /* фон боковой области страницы */
    --aside-color: lavender;
}

/* стили высот областей на странице */
/* высота заголовка */
.header-height {
    height: var(--header-height);
}

/* высота навигационной панели */
.nav-height {
    height: var(--nav-height);
}

/* высота контента */
.content-height {
    min-height: calc(100vh - var(--header-height) - var(--nav-height));
}

/* стили областей на главной странице */
.content-main {
    /* размеры указаны для схожести с word-документом */
    padding: 1.5cm 1.5cm 1.5cm 2.5cm;
    max-width: 21cm;
}

/* высота подвала */
.footer-height {
    height: var(--footer-height);
}

/* минимальная ширина */
.min-width-240px {
    min-width: 240px;
}

.min-width-80px {
  min-width: 80px;
}

.min-width-20px {
  min-width: 20px;
}

/* для формы - определение ширины */
.w-md-75 {
    width: 75%;
}
.w-lg-75 {
  width: 75%;
}

/* ширина для главного контейнера */
.w-md-90 {
  width: 90%;
}
.w-md-95 {
  width: 95%;
}
.w-lg-95 {
  width: 95%;
}

/* для подписей в карусели изображений - определение ширины */
.w-md-50 {
  width: 50%;
}

/* высота для контейнера */
.h-50vh {
    height: calc(0.5 * 100vh);
}

/* для кнопок - ограничение размера */
.w-min-140-max-160 {
    min-width: 140px;
    max-width: 160px;
}
.w-min-100px {
  min-width: 100px;
}

/* для изображений в компоненте выбора изображения - ограничение размера */
.input-image-w-180-200px-h-224px {
  width: auto;
  min-width: 180px;
  max-width: 200px;
  height: 224px;
}
.input-image-w-160px-h-160px {
  width: 160px;
  height: 160px;
}
.input-image-w-180-250px-h-180px {
  width: auto;
  min-width: 180px;
  max-width: 250px;
  height: 180px;
}

/* задание ширины */
.w-70px {
    width: 70px;
}
.w-75px {
  width: 75px;
}
.w-5 {
    width: 5% !important;
}
.w-10 {
    width: 10% !important;
}
.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-40 {
    width: 40% !important;
}
.w-60 {
    width: 60% !important;
}
.w-90 {
    width: 90% !important;
}
.w-560px {
    width: 560px !important;
}

/* для кнопки закрытия формы в модальном окне */
.w-12px {
    width: 12px;
}
.w-13px {
  width: 13px !important;
}
.w-16px {
    width: 16px;
}
.w-18px {
  width: 18px !important;
}
.w-20px {
  width: 20px !important;
}
.w-65px {
    width: 65px;
}
.w-100px {
    width: 100px;
}
.max-w-180px {
    max-width: 180px;
}
.h-8px {
    height: 8px;
}
.h-12px {
    height: 12px;
}
.h-18px {
    height: 18px;
}
.h-min-36px {
    min-height: 36px;
}
.h-21px {
    height: 21px;
}
.h-38px {
  height: 38px;
}
.h-40px {
    height: 40px;
}
.h-80px {
    height: 80px;
}
.h-max-250px-w-max-400px {
  max-height: 250px;
  max-width: 400px;
}
.h-max-150px-w-max-150px {
  max-height: 150px;
  max-width: 150px;
}
.h-180px-w-100-180px {
  width: auto;
  min-width: 100px;
  max-width: 180px;
  height: 180px;
}

/* для кнопки закрытия в модальном окне */
.bg-plum {
    background-color: plum;
}
.hover-bg-paleturquoise:hover {
    background-color: paleturquoise !important;
}

/* равномерное распределение текста */
.text-justify {
    text-align: justify;
}

/* список с маркером в виде окружности */
.list-circle {
    list-style: circle;
}

/* стиль подчёркивания */
.underline-double {
    /*
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: royalblue;
    */
    text-decoration: underline double royalblue;
}

/*region стили шрифтов */
.font-family-Tahoma {
    font-family: Tahoma, sans-serif;
}
.font-family-Calibri {
    font-family: Calibri, sans-serif;
}
.font-family-CalibriLight {
    font-family: "Calibri Light", sans-serif;
}
.font-family-JetBrains-Mono {
    font-family: "JetBrains Mono", sans-serif;
}
.font-family-Roboto-Light {
  font-family: "Roboto Light", sans-serif;
}
.font-family-Cascadia-Code {
  font-family: "Cascadia Code", sans-serif;
}
.font-family-Caslon {
  font-family: caslon, sans-serif;
}
.font-family-Verdana {
  font-family: Verdana, sans-serif;
}
.font-family-Times-New-Roman {
  font-family: "Times New Roman", sans-serif;
}
.font-family-Arial {
  font-family: Arial, sans-serif;
}
.font-family-Georgia {
  font-family: Georgia, sans-serif;
}
.font-family-Courier-New {
  font-family: "Courier New", sans-serif;
}
.font-family-Cambria {
  font-family: Cambria, sans-serif;
}
.font-family-Candara {
  font-family: Candara, sans-serif;
}
.font-family-Consolas {
  font-family: Consolas, sans-serif;
}
.font-family-Daytona {
  font-family: Daytona, sans-serif; /* == Arial */
}
.font-family-Biome {
  font-family: Biome, sans-serif; /* == Arial */
}
.font-family-Dotum {
  font-family: Dotum, sans-serif; /* == Arial */
}
.font-family-Ebrima {
  font-family: Ebrima, sans-serif; /* == Arial */
}
.font-family-Malgun-Gothic {
  font-family: "Malgun Gothic", sans-serif;
}
.font-family-Maiandra-GD {
  font-family: "Maiandra GD", sans-serif; /* == Arial */
}
.font-family-Segoe-UI {
  font-family: "Segoe UI", sans-serif;
}
.font-size-9pt {
    font-size: 9pt;
}
.font-size-10pt {
    font-size: 10pt;
}
.font-size-12pt {
    font-size: 12pt;
}
.font-size-14pt {
    font-size: 14pt;
}
.font-size-16pt {
    font-size: 16pt;
}
/*endregion*/

/* стили для кнопки перехода в начало страницы */
.bottom-1rem {
    bottom: 1rem;
}
.right-2rem {
    right: 2rem;
}
.right-1rem-lg-2rem {
  right: 2rem;
}
.opacity-60 {
    opacity: 60%;
}

/* стили цветового оформления страницы */
/* цвет фона */
.bg-back-color {
    background-color: var(--back-color);
}
.bg-aside-color {
    background-color: var(--aside-color);
}
.bg-main-color {
    background-color: var(--main-color);
}
.bg-main-gradient {
    background: linear-gradient(0deg, var(--back-color), var(--aside-color));
}
.bg-footer-gradient {
    background: radial-gradient(farthest-corner at 85% 25%, var(--aside-color) 10%, var(--back-color) 60%);
}
/* цвет текста */
.text-main-color {
    color: var(--main-color);
}
.text-aside-color {
    color: var(--aside-color);
}
.text-back-color {
    color: var(--back-color);
}
.hover-text-main-color:hover {
  color: var(--main-color) !important;
}
.hover-opacity-60:hover {
  opacity: 60% !important;
}
.active-border-color-transparent:active {
  border-color: transparent !important;
}
.active-opacity-80:active {
  opacity: 80% !important;
}
.hover-pointer:hover {
  cursor: pointer !important;
}
/* для рамки */
.border-back-color {
    border-color: var(--back-color) !important;
}
.border-aside-color {
    border-color: var(--aside-color) !important;
}
.border-main-color {
    border-color: var(--main-color) !important;
}
.border-10px {
  border-width: 10px !important;
}
.border-30px {
  border-width: 30px !important;
}

/* скорость вращения спиннера */
.speed-600ms {
  animation-duration: 600ms;
}

/* отступы */
.mt-2px {
  margin-top: 2px !important;
}
.mt-5px {
  margin-top: 5px;
}
.py-1px {
  padding-top: 1px;
  padding-bottom: 1px;
}
.pt-1px {
  padding-top: 1px;
}
.pb-2px {
  padding-bottom: 2px;
}
.py-2px {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* для навигации */
.nav-link:hover, .navbar-brand:hover {
    color: var(--back-color);
    background-color: aliceblue;
}
.nav-active {
    font-weight: bold;
    color: var(--main-color) !important;
    background-color: var(--back-color) !important;
    border-top:    1px solid var(--main-color) !important;
    border-bottom: 1px solid var(--main-color) !important;
    padding: 7px 8px !important;
}
.nav-active:hover {
    color: var(--back-color) !important;
    background-color: var(--main-color) !important;
    border-top:    1px solid var(--back-color) !important;
    border-bottom: 1px solid var(--back-color) !important;
}
.navbar-brand-active {
    background-color: var(--back-color) !important;
    border-top:    1px solid var(--main-color) !important;
    border-bottom: 1px solid var(--main-color) !important;
}
.navbar-brand-active:hover {
    background-color: var(--main-color) !important;
    border-top:    1px solid var(--back-color) !important;
    border-bottom: 1px solid var(--back-color) !important;
}
.back-color-hover:hover {
    color: var(--back-color);
    background-color: var(--main-color);
    border-color: var(--back-color) !important;
}
.icon-light {
    color: var(--main-color);
}
.icon-light:hover {
    color: var(--back-color);
}
.icon-dark {
    color: var(--back-color);
}
.dropdown-menu-language {
    min-width: 100% !important;
    border-radius: 0;
}
.dropdown-item:hover {
    background-color: lightskyblue;
    color: var(--back-color);
}
.dropdown-menu-user {
    min-width: 120px !important;
    margin-top: 2px !important;
}

/* для валидации
input.invalid {
    background-color: lightpink !important;
}

input.valid {
    background-color: lightcyan !important;
}*/

/* для валидации */
.input-validation-error {
    border-color: lightpink;
}

/* ------------------------------------------------------------------------- */

/* медиа-запросы для выбранного девайса */

/* для всех элементов при ширине окна <= 991px */
@media screen and (max-width: 991px) {

    .nav-height {
        height: auto;
    }

    /*.content-height {
      !*min-height: auto;*!
      width: calc(100% - 2px);
    }*/

    .w-lg-75 {
      width: 100%;
    }

    .w-lg-95 {
      width: 100%;
    }

    .right-1rem-lg-2rem {
      right: 1rem;
    }
}
/*   // --- @media (<= 991px) --- //   */

/* для всех элементов при ширине окна <= 767px */
@media screen and (max-width: 767px) {

    .content-main {
        padding: 24px;
    }

    .header-height, .footer-height {
        height: auto;
    }

    .w-md-75 {
        width: 100%;
    }

    .w-md-50 {
        width: 100%;
    }

    .w-md-90 {
        width: 100%;
    }

    .w-md-95 {
        width: 100%;
    }

} /*   // --- @media (<= 768px) --- //   */


/* для всех элементов при ширине окна <= 576px */
@media screen and (max-width: 576px) {

    .content-main {
        padding: 8px !important;
    }

} /*   // --- @media (<= 576px) --- //   */

/* ------------------------------------------------------------------------- */
