
<div class="modal-dialog modal-lg modal-dialog-centered">

  <!-- форма добавления/изменения записи о поездке -->
  <form class="modal-content bg-light p-2"
        #tripForm="ngForm" novalidate>

    <!-- заголовок -->
    <div class="modal-header bg-primary p-1">

      <div class="w-100 p-2">
        <div class="modal-title text-center text-light">
          @if (isWaitFlag) {
            <div class="d-flex justify-content-center align-items-center">
              <h4>соединение...</h4>
              <span class="spinner-border spinner-border-sm m-1 p-1"></span>
            </div>
          } @else {
            <h4 id="id-tripFormTitle" class="m-0">
              @if (trip.id === 0) {
                Добавление новой записи о поездке
              } @else if (trip.id === -1) {
                Ошибка!
              } @else {
                Изменение записи о поездке с Id={{trip.id}}
              } <!-- if -->
            </h4>
          } <!-- if -->
        </div>
      </div>

      <button class="btn-close bg-plum m-1 p-2 opacity-100
                     hover-bg-paleturquoise border border-3
                     border-black w-12px h-8px"
              type="button" id="btnCloseTripForm"
              data-bs-dismiss="modal"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              data-bs-placement="bottom"
              title="Закрыть..."
              (click)="closeForm()">
      </button>
    </div>

    <!-- тело - основные параметры формы -->
    <div class="modal-body p-0">

      <div class="row mx-0 my-1 p-0 px-sm-0 py-sm-2 bg-primary-subtle
                  border border-primary justify-content-center">

        <!-- идентификатор объекта (скрытое поле) - для изменения -->
        <input type="hidden" id="id-tripId" [(ngModel)]="trip.id"
               name="tripId" />

        <!-- дата начала пребывания в стране назначения -->
        <div class="row m-0 p-2 justify-content-center align-items-center">
          <label class="form-label col-lg-4 m-0 px-2" for="id-tripStartDate">
            Дата начала пребывания:
          </label>
          <div class="col-lg-8 p-0">
            <input class="form-control px-2" type="date" required
                   id="id-tripStartDate" name="tripStartDate"
                   [(ngModel)]="displayDate" (input)="inputStartDateHandler()"/>
          </div>
        </div>

        <!-- выбор клиента -->
        <div class="row m-0 p-2 justify-content-center align-items-center">
          <label class="form-label col-lg-4 m-0 px-2" for="id-tripClientId">
            Выбор клиента:
          </label>
          <div class="col-lg-8 p-0">
            <select class="form-select" id="id-tripClientId" required
                    name="tripClientId" [(ngModel)]="trip.client.id"
                    (change)="changeClientHandler()">
              <option value="0" selected disabled>Выберите клиента...</option>
              @for (client of tripFormParams.clientList; track client.id) {
                <option [value]="client.id">{{client.fullName}}</option>
              } <!-- for client -->
            </select>
          </div>
        </div>

        <!-- выбор маршрута -->
        <div class="row m-0 p-2 justify-content-center align-items-start">
          <label class="form-label col-lg-4 m-0 px-2" for="id-tripRouteId">
            Выбор маршрута:
          </label>
          <div class="col-lg-8 p-0">

            <!-- список выбора маршрутов -->
            <select class="form-select" id="id-tripRouteId" required
                    name="tripRouteId" [(ngModel)]="trip.route.id"
                    (change)="changeRouteHandler()">
              <option value="0" selected disabled>Выберите маршрут...</option>
              @for (route of tripFormParams.routeList; track route.id) {
                <option [value]="route.id">{{route.name}}</option>
              } <!-- for route -->
            </select>

            <!-- блок отображения параметров выбранного маршрута -->
            <div class="row m-0 p-0 text-primary">

              <div class="col-12 row m-0 p-0 justify-content-between">
                <div class="w-auto px-2">Страна пребывания:</div>
                <div class="w-auto px-2 fw-bold">
                  {{trip.route.country.name === ''
                  ? '???...'
                  : trip.route.country.name}}
                </div>
              </div>

              <div class="col-12 row m-0 p-0 justify-content-between">
                <div class="w-auto px-2">Цель поездки:</div>
                <div class="w-auto px-2 fw-bold">
                  {{trip.route.purpose.name === ''
                  ? '???...'
                  : trip.route.purpose.name}}
                </div>
              </div>

              <div class="col-12 row m-0 p-0 justify-content-between">
                <div class="w-auto px-2">Транспортные услуги:</div>
                <div class="w-auto px-2">
                  <span class="fw-bold">
                    {{trip.route.country.transportCost === 0
                    ? 'XXX XXX.XX'
                    : trip.route.country.transportCost | number:"0.2-2"}}
                  </span> руб.
                </div>
              </div>

              <div class="col-12 row m-0 p-0 justify-content-between">
                <div class="w-auto px-2">Оформление визы:</div>
                <div class="w-auto px-2">
                  <span class="fw-bold">
                    {{trip.route.country.visaCost === 0
                    ? 'XXX XXX.XX'
                    : trip.route.country.visaCost | number:"0.2-2"}}
                  </span> руб.
                </div>
              </div>

              <div class="col-12 row m-0 p-0 justify-content-between">
                <div class="w-auto px-2">Стоимость дня по стране:</div>
                <div class="w-auto px-2">
                  <span class="fw-bold">
                    {{trip.route.country.countryDayCost === 0
                    ? 'XXX XXX.XX'
                    : trip.route.country.countryDayCost | number:"0.2-2"}}
                  </span> руб./день
                </div>
              </div>

              <div class="col-12 row m-0 p-0 justify-content-between">
                <div class="w-auto px-2">Стоимость дня по цели:</div>
                <div class="w-auto px-2">
                  <span class="fw-bold">
                    {{trip.route.purpose.purposeDayCost === 0
                    ? 'XXX XXX.XX'
                    : trip.route.purpose.purposeDayCost | number:"0.2-2"}}
                  </span> руб./день
                </div>
              </div>

              <div class="col-12 row m-0 p-0 justify-content-between">
                <div class="w-auto px-2">Общая стоимость дня пребывания:</div>
                <div class="w-auto px-2">
                  <span class="fw-bold">
                    {{trip.route.totalDayCost === 0
                    ? 'XXX XXX.XX'
                    : trip.route.totalDayCost | number:"0.2-2"}}
                  </span> руб./день
                </div>
              </div>

            </div>

          </div>
        </div>

        <!-- количество дней пребывания в стране назначения -->
        <div class="row m-0 p-2 justify-content-center align-items-start">
          <label class="form-label col-lg-4 m-0 px-2" for="id-tripAmountDays">
            Кол-во дней пребывания:
          </label>
          <div class="col-lg-8 p-0">

            <!-- поле ввода количества дней пребывания -->
            <input class="form-control text-end px-2" type="number" required
                   id="id-tripAmountDays" name="tripAmountDays"
                   [(ngModel)]="trip.amountDays"
                   min="1" max="30" step="1"/>

            <!-- блок отображения стоимости поездки -->
            <div class="row m-0 p-0 text-primary">

              <div class="col-12 row m-0 p-0 justify-content-between">
                <div class="w-auto px-2">Стоимость поездки:</div>
                <div class="w-auto px-2">
                  <span class="fw-bold">
                    {{trip.tripCost === 0
                    ? 'XXX XXX.XX'
                    : trip.tripCost | number:"0.2-2"}}
                  </span> руб.
                </div>
              </div>

              <div class="col-12 row m-0 p-0 justify-content-between">
                <div class="w-auto px-2">Полная стоимость поездки (+НДС):</div>
                <div class="w-auto px-2">
                  <span class="fw-bold">
                    {{trip.fullTripCost === 0
                    ? 'XXX XXX.XX'
                    : trip.fullTripCost | number:"0.2-2"}}
                  </span> руб.
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>

    <!-- подвал - кнопки ввода/сброса -->
    <div class="modal-footer bg-primary justify-content-evenly p-0">

      <button class="btn bg-success-subtle fw-bold text-success
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-success border-2 border-opacity-50"
              type="button" id="btnTripSubmit"
              [class.disabled]="isWaitFlag || isDisabledFlag"
              (click)="sendTrip(tripForm)"
              data-bs-dismiss="modal"
              title="Отправить данные на сервер">
        {{ trip.id === 0 ? 'Добавить' : 'Изменить' }}
        @if (isWaitFlag) {
          <span class="spinner-border spinner-border-sm m-0 p-0"></span>
        } <!-- if -->
      </button>

      <button class="btn bg-danger-subtle fw-bold text-danger
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-danger border-2 border-opacity-50"
              type="button" id="btnTripReset"
              [class.disabled]="isWaitFlag || isDisabledFlag"
              (click)="resetTrip()"
              title="Сброс введённых данных">
        Сброс
        @if (isWaitFlag) {
          <span class="spinner-border spinner-border-sm m-0 p-0"></span>
        } <!-- if -->
      </button>
    </div>

  </form>

</div>
