
<!-- /business -->

<!-- компонент с отображением возможностей пользователя -->

<!-- разметка компонента BusinessComponent -->
<main class="row bg-main-color content-height mx-auto p-0 w-lg-95
             justify-content-center align-items-start align-items-lg-stretch">

  <div class="col-12 m-0 p-0 row justify-content-center align-items-stretch">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- кнопки -->
    <div class="col-lg-3 col-xl-2 m-0 p-1 px-sm-2 pt-sm-3 bg-aside-color">
      <div class="row m-0 p-0 justify-content-evenly justify-content-lg-center">

        <!-- 1-я кнопка: "создать салон" -->
        <div class="col-5 col-sm-4 col-md-3 col-lg-11 col-xl-10 col-xxl-9 p-1">
          <button class="btn btn-primary border-2 w-100 m-0 p-1 fw-bold"
                  type="button"
                  (click)="createCompany()"
                  title="{{component.butCreateCompanyTitle}}">
            {{component.butCreateCompanyValue}}
            <i class="fa fa-plus-circle"></i>
          </button>
        </div>

      </div>
    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- данные о возможностях -->
    <div class="col-lg-9 col-xl-10 m-0 p-1 px-sm-2 py-sm-3 d-flex flex-column">

      @if (component.isWaitFlag) {
        <!-- загрузочный спиннер -->
        <div class="d-flex justify-content-center align-items-end text-aside-color h-50">
          <span class="spinner-border m-0 p-5 border-30px opacity-75 speed-600ms"></span>
        </div>

      } @else {
        <!-- основные данные -->

        <!-- заголовок -->
        <h4 class="text-primary text-center" [innerHTML]="component.displayTitle"></h4>

        <!-- данные о зарегистрированных пользователем салонах, если такие есть -->
        @if (companies.length > zero) {

        <div class="bg-aside-color border border-2 border-back-color m-0 mb-2 p-1
                    row justify-content-center justify-content-md-start">

          <!-- заголовок области "компании" -->
          <h5 class="text-back-color m-0 px-3 py-2" [innerHTML]="component.companiesTitle"></h5>

          <!-- сведения о компаниях -->
          @for (company of companies; track company.id; let i = $index) {
            <!-- компонент карточки со сведениями о компании -->
            <card-company class="col-sm-11 col-md-6 col-xxl-4 m-0 p-1"
                          [company]="company"
                          [labelSchedule]="component.labelSchedule"
                          [labelPhone]="component.labelPhone"
                          [butSenderCompanyIdTitle]="component.butEditCompanyTitle"
                          [butSenderCompanyIdValue]="component.butEditCompanyValue"
                          (onSendCompanyId)="sendCompanyIdHandler($event)">
            </card-company>
            <!--<card-company class="col-sm-11 col-md-6 col-xxl-4 m-0 p-1"
                          [company]="company"
                          [labelSchedule]="component.labelSchedule"
                          [labelPhone]="component.labelPhone"
                          [butSenderCompanyIdTitle]="component.butEditCompanyTitle"
                          [butSenderCompanyIdValue]="component.butEditCompanyValue"
                          [srcLogoPath]="component.srcLogoPath"
                          [fileNameLogoDef]="component.fileNameLogoDef"
                          [srcImagePath]="component.srcImagePath"
                          [fileNameCompanyTitleImageDef]="component.fileNameCompanyTitleImageDef"
                          (onSendCompanyId)="sendCompanyIdHandler($event)">
            </card-company>-->
          } <!-- for -->

          <!-- компонент пагинации страницы -->
          @if (pageViewModel.totalPages > one &&
               (companies.length > zero || pageViewModel.pageNumber != zero)) {

            <div class="m-0 mt-auto p-0 row justify-content-center align-items-center">
              <pagination class="col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4 m-0 p-0
                                 d-flex justify-content-evenly justify-content-sm-center
                                 align-items-center bg-aside-color"
                          [pageViewModel]="pageViewModel"
                          [butToFirstPageTitle]="component.butToFirstPageTitle"
                          [butPreviousTitle]="component.butPreviousTitle"
                          [butPreviousValue]="component.butPreviousValue"
                          [butCurrentPageTitle]="component.butCurrentPageTitle"
                          [butNextTitle]="component.butNextTitle"
                          [butNextValue]="component.butNextValue"
                          [butToLastPageTitle]="component.butToLastPageTitle"
                          (onSendPage)="sendPageHandler($event)">
              </pagination>
            </div>

          } <!-- if -->

        </div>

        } <!-- if -->

      } <!-- if -->

    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  </div>

</main>
