<tr>
  <th class="p-1 w-5">&numero;<br>п&nbsp;<b>&frasl;</b>&nbsp;п</th>
  <th class="p-1 w-5">ID</th>
  <th class="p-1 w-15">Страна</th>
  <th class="p-1 w-10">Цель</th>
  <th class="p-1 w-10">Стоимость трансп.<br>услуг, руб.</th>
  <th class="p-1 w-10">Стоимость оформл.<br>визы, руб.</th>
  <th class="p-1 w-15">Стоимость дня<br>по стране, руб./день</th>
  <th class="p-1 w-15">Стоимость дня<br>по цели, руб./день</th>
  <th class="p-1 w-15">Суммарная стоимость<br>дня по маршруту, руб./день</th>
</tr>
