
<div class="modal-dialog modal-dialog-centered modal-lg">

  <!-- форма выбора параметров запроса №2 -->
  <form class="modal-content bg-light p-2"
        #query02Form="ngForm" novalidate>

    <!-- заголовок -->
    <div class="modal-header bg-primary p-2">

      <div class="w-100 p-2">
        <h4 class="modal-title text-center text-light"
            id="id-query02FormTitle">
          Запрос №2 - Выбрать информацию о маршрутах с заданной целью поездки
          и стоимостью транспортных услуг менее заданного значения
        </h4>
      </div>

      <button class="btn-close bg-plum m-1 p-2 opacity-100
                     hover-bg-paleturquoise border border-3
                     border-black w-12px h-8px"
              type="button"
              data-bs-dismiss="modal"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              data-bs-placement="bottom"
              title="Закрыть...">
      </button>
    </div>

    <!-- тело - основные параметры формы -->
    <div class="modal-body p-0">

      <div class="row mx-0 my-1 p-0 px-sm-0 py-sm-2 bg-primary-subtle
                  border border-primary justify-content-center">

        <!-- список всех целей поездки -->
        <div class="row m-0 p-2 justify-content-center align-items-center">
          <label class="form-label col-lg-4 m-0 px-2" for="id-purposesQuery02">
            Выбор цели поездки:
          </label>
          <div class="col-lg-8 p-0">
            <select class="form-select px-2" id="id-purposesQuery02" required
                    name="purposesQuery02" [(ngModel)]="purposeId">
              <option value="0" selected disabled>Выберите цель поездки...</option>
              @for (purpose of purposes; track purpose.id) {
                <option [value]="purpose.id">{{purpose.name}}</option>
              }
            </select>
          </div>
        </div>

        <!-- стоимость транспортных услуг, руб. -->
        <div class="row m-0 p-2 justify-content-center align-items-center">
          <label class="form-label col-lg-4 m-0 px-2" for="id-transportCostQuery02">
            Стоимость трансп. услуг, руб.:
          </label>
          <div class="col-lg-8 p-0">
            <input class="form-control text-end px-2" type="number" required
                   id="id-transportCostQuery02" name="transportCostQuery02"
                   [(ngModel)]="transportCost"
                   min="{{minTransportCost}}" max="{{maxTransportCost}}" step="100" />
          </div>
        </div>

      </div>

    </div>

    <!-- подвал - кнопки ввода/сброса -->
    <div class="modal-footer bg-primary justify-content-evenly p-0">

      <button class="btn bg-success-subtle fw-bold text-success
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-success border-2 border-opacity-50"
              type="button" id="btnQuery02Submit"
              [class.disabled]="isWaitFlag"
              (click)="sendQuery02Params(query02Form)"
              data-bs-dismiss="modal"
              title="Отправить запрос на сервер">
        @if (isWaitFlag) {
          <span class="spinner-border spinner-border-sm m-0 p-0"></span>
        } @else {
          Отправить
        } <!-- if -->
      </button>

      <button class="btn bg-danger-subtle fw-bold text-danger
                     text-opacity-75 w-50 w-min-140-max-160 m-1
                     border border-danger border-2 border-opacity-50"
              type="reset" id="btnQuery02Reset"
              [class.disabled]="isWaitFlag"
              title="Сброс выбора">
        @if (isWaitFlag) {
          <span class="spinner-border spinner-border-sm m-0 p-0"></span>
        } @else {
          Сброс
        } <!-- if -->
      </button>
    </div>

  </form>

</div>
